{% extends "base.html" %}

{% block aside %}
	{%- set section = get_section(path=page.ancestors | last) -%}
	<input type="checkbox" id="sidebar-toggle">
	<label for="sidebar-toggle" class="toggle-label" title="{{ macros_translate::translate(key='toggle_sidebar', default='Toggle Sidebar', language_strings=language_strings) }}"><i class="icon"></i></label>
	<label for="sidebar-toggle" class="toggle-overlay"></label>
	<aside id="docs-container">
		{% include "partials/docs_toc.html" %}
	</aside>
{% endblock aside %}

{% block content %}
{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}

{%- if page.extra.toc_ordered or section.extra.toc_ordered or config.extra.toc_ordered -%}
	{%- set list_element = "ol" -%}
{%- else -%}
	{%- set list_element = "ul" -%}
{%- endif -%}

<article>
	{% include "partials/article_content.html" %}
</article>

{%- if page.extra.comments.id -%}
	{%- include "partials/comments.html" -%}
{%- endif -%}

{% endblock content %}
